<div class="row">
	<div class="col-sm-9">
		<div class="row">
			{{{newItem.description}}}
		</div>
	</div>

	<div class="col-sm-3">
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
					<th scope="col">Chu de noi bat</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">
							<a href="/news/{{this.slug}}">
								aaaa
							</a>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="dropdown-divider mt-4"></div>

		{{!-- <div class="row">
			<iframe id="aswift_6" name="aswift_6" style="left:0;position:absolute;top:0;border:0;width:360px;height:280px;" sandbox="allow-forms allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts allow-top-navigation-by-user-activation" width="360" height="280" frameborder="0" src="https://googleads.g.doubleclick.net/pagead/ads?client=ca-pub-4690929849698182&amp;output=html&amp;h=280&amp;slotname=4898212112&amp;adk=2498458339&amp;adf=1960792548&amp;pi=t.ma~as.4898212112&amp;w=360&amp;fwrn=4&amp;fwrnh=100&amp;lmt=1623230105&amp;rafmt=1&amp;psa=1&amp;format=360x280&amp;url=https%3A%2F%2Fwebnauan.vn%2Fcach-lam-da-heo-chien-gion-khong-can-phoi-nang.html&amp;flash=0&amp;fwr=0&amp;fwrattr=true&amp;rpe=1&amp;resp_fmts=3&amp;wgl=1&amp;adsid=ChEI8PCGhgYQotzUzZWBvL6_ARI9AKhc_jlHhzZ4sn578rNxkfWahPbDMFAA4pDCzOjdpCjnvl_J7Z30FPsY2iLwMVLTdMcfxPV_vL-ugNvHHg&amp;uach=WyJXaW5kb3dzIiwiMTAuMCIsIng4NiIsIiIsIjkxLjAuNDQ3Mi43NyIsW11d&amp;dt=1623310787262&amp;bpp=2&amp;bdt=1047&amp;idt=322&amp;shv=r20210607&amp;cbv=%2Fr20190131&amp;ptt=9&amp;saldr=aa&amp;abxe=1&amp;cookie=ID%3Df6b110c29d4ea544-22e2b12c45c90042%3AT%3D1623232202%3ART%3D1623232202%3AS%3DALNI_MYWF4E1gQLiBtUO_xScG4LtzsetWg&amp;prev_fmts=0x0%2C750x188%2C750x188%2C750x280&amp;nras=1&amp;correlator=5833713303847&amp;frm=20&amp;pv=1&amp;ga_vid=1217675816.1623232202&amp;ga_sid=1623310787&amp;ga_hid=342895622&amp;ga_fc=0&amp;u_tz=420&amp;u_his=3&amp;u_java=0&amp;u_h=768&amp;u_w=1366&amp;u_ah=728&amp;u_aw=1366&amp;u_cd=24&amp;u_nplug=3&amp;u_nmime=4&amp;adx=885&amp;ady=979&amp;biw=1349&amp;bih=657&amp;scr_x=0&amp;scr_y=0&amp;eid=44740387%2C44744016&amp;oid=3&amp;pvsid=3846447016153866&amp;pem=314&amp;ref=https%3A%2F%2Fwebnauan.vn%2Fcach-nau%2F&amp;eae=0&amp;fc=1920&amp;brdim=0%2C0%2C0%2C0%2C1366%2C0%2C1366%2C728%2C1366%2C657&amp;vis=1&amp;rsz=%7C%7CeEbr%7C&amp;abl=CS&amp;pfx=0&amp;fu=128&amp;bc=31&amp;jar=2021-06-10-07&amp;ifi=7&amp;uci=a!7&amp;btvi=3&amp;fsb=1&amp;xpc=HtsOKqYOXm&amp;p=https%3A//webnauan.vn&amp;dtd=331" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" allow="conversion-measurement 'src'" data-google-container-id="a!7" data-google-query-id="CO75qPfHjPECFQMOvQodCvkOWg" data-load-complete="true"></iframe>
		</div> --}}
	</div>
</div>