<div class="mt-4">
    <form method="POST" action="/admin/products/store">
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" name="description" class="form-control" id="descriptionInput" placeholder="Enter description">
        </div>
        <div class="form-group">
            <label for="videoIdInput">Video Id</label>
            <input type="text" name="videoId" class="form-control" id="videoIdInput" placeholder="Enter video id">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Thêm mới</button>
    </form>
</div>