<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/img/core-img/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Tourist and Foods
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Món mặn <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/">Món chay <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Thức uống <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Bánh <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Món ăn vặt <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Du lịch <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Liên hệ <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
      {{!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> --}}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.18169-9/10896941_333071026887207_9118905927108962829_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=jbdjV8-24LMAX_hNL3M&tn=6OPrPlaIRG2NqwAt&_nc_ht=scontent.fhan2-4.fna&oh=50c6d78a071a3207f7d65d31df47e17a&oe=60E3D983" alt="" class="user-avatar">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/news/create">Đăng tin tức</a>
              <a class="dropdown-item" href="/admin/products/create">Đăng khóa học</a>
              <a class="dropdown-item" href="/admin/products/stored">Khóa học của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>